---
title: "redamber"
format: 
  html:
    toc: true
    css: table4ruby.css
    code-fold: true
jupyter: ruby
---

In [1]:
1+2

3

# 目次1
## 目次1-1
## 目次1-2

In [2]:
require 'red_amber'

true

In [3]:
include RedAmber

#<Module:0x00007f28472faed8>

In [4]:
{RedAmber: VERSION, Arrow: Arrow::VERSION}

{:RedAmber=>"0.3.0", :Arrow=>"10.0.0"}

In [5]:
DataFrame.new(x: [1, 2, 3], y: %w[A B C])

#<RedAmber::DataFrame : 3 x 2 Vectors, 0x000000000000f0c8>
        x y
  <uint8> <string>
0       1 A
1       2 B
2       3 C

# 目次2
## 目次2-1
## 目次2-2

In [6]:
DataFrame.new({ x: :uint8, y: :string }, [[1, 'A'], [2, 'B'], [3, 'C']])

#<RedAmber::DataFrame : 3 x 2 Vectors, 0x000000000000f0dc>
        x y
  <uint8> <string>
0       1 A
1       2 B
2       3 C

In [7]:
table = Arrow::Table.new(x: [1, 2, 3], y: %w[A B C])
DataFrame.new(table)

#<RedAmber::DataFrame : 3 x 2 Vectors, 0x000000000000f0f0>
        x y
  <uint8> <string>
0       1 A
1       2 B
2       3 C

In [9]:
require 'datasets-arrow'
dataset = Datasets::Penguins.new
penguins = DataFrame.new(dataset)

#<RedAmber::DataFrame : 344 x 8 Vectors, 0x000000000000f104>
    species  island    bill_length_mm bill_depth_mm flipper_length_mm ...     year
    <string> <string>        <double>      <double>           <uint8> ... <uint16>
  0 Adelie   Torgersen           39.1          18.7               181 ...     2007
  1 Adelie   Torgersen           39.5          17.4               186 ...     2007
  2 Adelie   Torgersen           40.3          18.0               195 ...     2007
  3 Adelie   Torgersen          (nil)         (nil)             (nil) ...     2007
  4 Adelie   Torgersen           36.7          19.3               193 ...     2007
  : :        :                      :             :                 : ...        :
341 Gentoo   Biscoe              50.4          15.7               222 ...     2009
342 Gentoo   Biscoe              45.2          14.8               212 ...     2009
343 Gentoo   Biscoe              49.9          16.1               213 ...     2009

In [10]:
dataset = Datasets::Rdatasets.new('datasets', 'mtcars')
mtcars = DataFrame.new(dataset)

#<RedAmber::DataFrame : 32 x 11 Vectors, 0x000000000000f118>
        mpg     cyl     disp       hp     drat       wt     qsec      vs      am ...    carb
   <double> <uint8> <double> <uint16> <double> <double> <double> <uint8> <uint8> ... <uint8>
 0     21.0       6    160.0      110      3.9     2.62    16.46       0       1 ...       4
 1     21.0       6    160.0      110      3.9     2.88    17.02       0       1 ...       4
 2     22.8       4    108.0       93     3.85     2.32    18.61       1       1 ...       1
 3     21.4       6    258.0      110     3.08     3.22    19.44       1       0 ...       1
 4     18.7       8    360.0      175     3.15     3.44    17.02       0       0 ...       2
 :        :       :        :        :        :        :        :       :       : ...       :
29     19.7       6    145.0      175     3.62     2.77     15.5       0       1 ...       6
30     15.0       8    301.0      335     3.54     3.57     14.6       0       1 ...       8
31     21.4       4    121.0      109     4.11     2.78     18.6       1       1 ...       2

In [11]:
require 'arrow-numo-narray'

DataFrame.new(numo: Numo::DFloat.new(3).rand)

#<RedAmber::DataFrame : 3 x 1 Vector, 0x000000000000f244>
      numo
  <double>
0     0.06
1     0.37
2     0.79

In [12]:
uri = URI("https://raw.githubusercontent.com/mwaskom/seaborn-data/master/penguins.csv")
DataFrame.load(uri)

#<RedAmber::DataFrame : 344 x 7 Vectors, 0x000000000000f258>
    species  island    bill_length_mm bill_depth_mm flipper_length_mm ... sex
    <string> <string>        <double>      <double>           <int64> ... <string>
  0 Adelie   Torgersen           39.1          18.7               181 ... MALE
  1 Adelie   Torgersen           39.5          17.4               186 ... FEMALE
  2 Adelie   Torgersen           40.3          18.0               195 ... FEMALE
  3 Adelie   Torgersen          (nil)         (nil)             (nil) ...
  4 Adelie   Torgersen           36.7          19.3               193 ... FEMALE
  : :        :                      :             :                 : ... :
341 Gentoo   Biscoe              50.4          15.7               222 ... MALE
342 Gentoo   Biscoe              45.2          14.8               212 ... FEMALE
343 Gentoo   Biscoe              49.9          16.1               213 ... MALE

In [13]:
df = DataFrame.new(
  x: [1, 2, 3, 4, 5],
  y: [1, 2, 3, 0/0.0, nil],
  s: %w[A B C D] << nil,
  b: [true, false, true, false, nil]
)

#<RedAmber::DataFrame : 5 x 4 Vectors, 0x000000000000f26c>
        x        y s        b
  <uint8> <double> <string> <boolean>
0       1      1.0 A        true
1       2      2.0 B        false
2       3      3.0 C        true
3       4      NaN D        false
4       5    (nil) (nil)    (nil)

In [14]:
df.table

#<Arrow::Table:0x7f2845162af0 ptr=0x5572e94c4eb0>
	x	         y	s	b
0	1	  1.000000	A	true
1	2	  2.000000	B	false
2	3	  3.000000	C	true
3	4	       NaN	D	false
4	5	    (null)	(null)	(null)